In [55]:
import pandas as pd
import numpy as np

In [56]:
df = pd.read_excel('Project_Data_Loan_sanction.xlsx')

In [57]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110,360,1,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126,360,1,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208,360,1,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100,360,1,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78,360,1,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113,360,1,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115,360,1,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126,360,1,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158,360,1,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98,180,1,Rural

# Check how many duplicate rows are present.
#If any Duplicates Present, drop those duplicates

In [58]:
duplicates = df[df.duplicated()]

In [59]:
duplicates

Empty DataFrame
Columns: [Loan_ID, Gender, Married, Dependents, Education, Self_Employed, Applicant_Income, Coapplicant_Income, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area]
Index: []

#Check null values in each column

In [60]:
df.isnull().any()

Loan_ID               False
Gender                False
Married               False
Dependents             True
Education             False
Self_Employed         False
Applicant_Income      False
Coapplicant_Income    False
LoanAmount            False
Loan_Amount_Term      False
Credit_History        False
Property_Area         False
dtype: bool

#Delete the Rows which are having null values.

In [61]:
df.dropna(inplace = True)

In [62]:
df['Gender'].isnull().any()

False

#Top 5 Records

In [63]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110,360,1,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126,360,1,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208,360,1,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100,360,1,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78,360,1,Urban

#Export the dataframe in excel.

In [64]:
df.to_excel('output.xlsx',index = False)

#Number of Rows and Columns in a DataFrame

In [65]:
df.shape

(357, 12)

#Print all Column names in a DF

In [66]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Applicant_Income', 'Coapplicant_Income', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

# Generate the descriptive statistics of Numerical variables.

In [67]:
df.describe()

,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History
count,357.000000,357.000000,357.000000,357.000000,357.0
mean,4793.602241,1587.098039,136.501401,343.282913,1.0
std,4936.879103,2357.321156,61.503523,64.015457,0.0
min,0.000000,0.000000,28.000000,6.000000,1.0
25%,2858.000000,0.000000,102.000000,360.000000,1.0
50%,3786.000000,1025.000000,125.000000,360.000000,1.0
75%,5062.000000,2458.000000,158.000000,360.000000,1.0
max,72529.000000,24000.000000,550.000000,480.000000,1.0

#Display numeric data type columns in a DF

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 357 entries, 0 to 366
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Loan_ID             357 non-null    object
 1   Gender              357 non-null    object
 2   Married             357 non-null    object
 3   Dependents          357 non-null    object
 4   Education           357 non-null    object
 5   Self_Employed       357 non-null    object
 6   Applicant_Income    357 non-null    int64
 7   Coapplicant_Income  357 non-null    int64
 8   LoanAmount          357 non-null    int64
 9   Loan_Amount_Term    357 non-null    int64
 10  Credit_History      357 non-null    int64
 11  Property_Area       357 non-null    object
dtypes: int64(5), object(7)
memory usage: 36.3+ KB

In [69]:
numerical = df.select_dtypes(include=['int64'])
categorical = df.select_dtypes(include = ['object'])

In [70]:
numerical

,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History
0,5720,0,110,360,1
1,3076,1500,126,360,1
2,5000,1800,208,360,1
3,2340,2546,100,360,1
4,3276,0,78,360,1
...,...,...,...,...,...
362,4009,1777,113,360,1
363,4158,709,115,360,1
364,3250,1993,126,360,1
365,5000,2393,158,360,1
366,9200,0,98,180,1

In [71]:
categorical

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,Urban
1,LP001022,Male,Yes,1,Graduate,No,Urban
2,LP001031,Male,Yes,2,Graduate,No,Urban
3,LP001035,Male,Yes,2,Graduate,No,Urban
4,LP001051,Male,No,0,Not Graduate,No,Urban
...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,Urban
363,LP002975,Male,Yes,0,Graduate,No,Urban
364,LP002980,Male,No,0,Graduate,No,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,Rural
366,LP002989,Male,No,0,Graduate,Yes,Rural

#Extract all the Records where Self_Employed is equal to Yes

In [72]:
df[df['Self_Employed'] == 'Yes']

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152,360,1,Urban
37,LP001210,Male,Yes,0,Graduate,Yes,2267,2792,90,360,1,Urban
38,LP001211,Male,No,0,Graduate,Yes,5833,0,116,360,1,Urban
49,LP001270,Male,Yes,3+,Not Graduate,Yes,8000,250,187,360,1,Semiurban
54,LP001312,Male,Yes,0,Not Graduate,Yes,5293,0,92,360,1,Urban
61,LP001335,Male,Yes,0,Graduate,Yes,7016,292,125,360,1,Urban
73,LP001380,Male,Yes,0,Graduate,Yes,3900,2094,232,360,1,Rural
77,LP001413,Male,No,0,Graduate,Yes,6356,0,50,360,1,Rural
90,LP001475,Male,Yes,0,Graduate,Yes,3188,2286,130,360,1,Rural
110,LP001584,Female,No,0,Graduate,Yes,4742,0,108,360,1,Semiurban
132,LP001728,Male,Yes,1,Graduate,Yes,3343,1517,105,360,1,Rural
143,LP001791,Male,Yes,0,Graduate,Yes,32000,0,550,360,1,Semiurban
144,LP001794,Male,Yes,2,Graduate,Yes,10890,0,260,12,1,Rural
147,LP001817,Male,No,0,Not Graduate,Yes,8703,0,199,360,1,Rural
155,LP001857,Male,No,0,Not Graduate,Yes,1599,2474,125,300,1,Semiurban
156,LP001862,Male,Yes,2,Graduate,Yes,4246,4246,214,360,1,Urban
195,LP002083,Male,No,0,Graduate,Yes,5833,0,116,360,1,Urban
199,LP002102,Male,Yes,0,Graduate,Yes,1900,1442,88,360,1,Rural
200,LP002105,Male,Yes,0,Graduate,Yes,8706,0,108,480,1,Rural
212,LP002172,Male,Yes,3+,Graduate,Yes,5384,0,150,360,1,Semiurban
218,LP002195,Male,Yes,1,Graduate,Yes,3507,3148,212,360,1,Rural
224,LP002256,Female,No,2,Graduate,Yes,5184,0,187,360,1,Semiurban
231,LP002298,Male,No,0,Graduate,Yes,2860,2988,138,360,1,Urban
246,LP002358,Male,Yes,2,Graduate,Yes,5000,2166,150,360,1,Urban
248,LP002375,Male,Yes,0,Not Graduate,Yes,3943,0,64,360,1,Semiurban
271,LP002482,Female,No,0,Graduate,Yes,3333,3916,212,360,1,Rural
300,LP002644,Male,Yes,1,Graduate,Yes,7500,0,75,360,1,Urban
303,LP002657,Male,Yes,1,Not Graduate,Yes,570,2125,68,360,1,Rural
306,LP002721,Male,Yes,2,Graduate,Yes,7500,0,183,360,1,Rural
328,LP002806,Male,Yes,3+,Graduate,Yes,6958,1411,150,360,1,Rural
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87,240,1,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122,180,1,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187,360,1,Rural
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137,300,1,Rural
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113,360,1,Urban
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98,180,1,Rural

#Extract all the Records where Property_area is equal to urban in a DF.

In [73]:
df[df['Property_Area'] == 'Urban']

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110,360,1,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126,360,1,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208,360,1,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100,360,1,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78,360,1,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85,360,1,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60,360,1,Urban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96,360,1,Urban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113,360,1,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115,360,1,Urban

#Print number of unique vaues in Gender column

In [74]:
len(df['Gender'].unique())

2